@{
    ViewData["Title"] = "Send Email | Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="Options">
        <div class="OptionItem"><a href="../Email/SendMail">Click here to send email</a></div>
    </div>
</div>